aiohappyeyeballs==2.7.1
aiohttp==3.14.3
aiosignal==1.4.0
asgiref==3.12.1
attrs==26.1.0
autobahn==26.7.1
Automat==25.4.16
cbor2==6.1.4
certifi==2026.7.22
cffi==2.1.1
channels==4.3.2
charset-normalizer==3.5.0
constantly==23.10.4
cryptography==50.0.0
daphne==4.2.3
Django==6.1
django-cors-headers==4.9.0
djangorestframework==3.18.0
frozenlist==1.8.0
http_ece==1.2.1
hyperlink==21.0.0
idna==3.18
Incremental==24.11.0
msgpack==1.2.1
multidict==6.7.1
packaging==26.3
pillow==12.3.0
propcache==0.5.2
psycopg==3.3.4
psycopg-binary==3.3.4
py-vapid==1.9.4
pycparser==3.0
pyOpenSSL==26.4.0
python-dotenv==1.2.2
pywebpush==2.4.0
requests==2.34.2
service-identity==26.1.0
sqlparse==0.5.5
Twisted==26.4.0
txaio==26.6.1
typing_extensions==4.16.0
tzdata==2026.3
ujson==5.13.0
urllib3==2.7.0
yarl==1.24.5
zope.interface==8.5
openpyxl>=3.1.2
xhtml2pdf>=0.2.15
qrcode>=8.2
matplotlib>=3.8.0
arabic-reshaper>=3.0.0
python-bidi>=0.4.2
oracledb>=2.0.0

huggingface_hub==1.29.0
ultralytics==8.4.132
torch==2.13.0
torchvision==0.28.0